* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #191940;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 0;

}

.form-container {
    background-color: #fff;
    width: 400px;
    height: 500px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding:1rem 0.2rem;
}

.form-elements {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0.5rem;
}

.form-elements h2 {
    text-align: center;
}

.form-container input,
.form-container textarea {
    padding: 12px 0;
    border: 2px solid #87ceeb;
    border-radius: 5px;
    text-indent: 10px;
    outline: none;
}

#submit-story-btn {
    background-color: #466de2;
    color: #fff;
    padding: 12px;
    border: none;
    font-size: 16px;
    border-radius: 10px;
}

.live-container {
    background-color: #fff;
    width: 60vw;
    min-height: 60vh;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}

.story-image-container {
    height: 250px;
    background-color: #fff;
}

.story-image-container img {
    width: 300px;
    object-fit: contain;
}

.story-container {
    margin: 0 20px 0 40px;
    overflow-y: auto;
}

#story-content-category{
    margin: 5px 0;
}

#story-content {
    word-wrap: break-word;
    max-height: 250px;
}

#story-author {
    background-color: #466de2;
    width: 200px;
    height: 30px;
    padding: 10px 5px 0 5px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 1rem;
}


@media (max-width:1024px) {
    .container {
        justify-content: center;
        flex-wrap: wrap;
    }

    .form-container {
        border-radius: 10px;
    }

    .live-container {
        width: 400px;
        min-height: 620px;
        flex-direction: column;
        border-radius: 10px;
    }
}